Repository hack4impact-mcgill/mu-map, pull requests merged in 2021-03, with the labels that each got.

#145 Feature/135 admin features
  frontend/src/ActionButtons/ActionButtons.tsx
  frontend/src/AddressSearch/addressSearch.tsx
  frontend/src/App/App.tsx
  frontend/src/ArtistSearch/ArtistSearch.tsx
  frontend/src/BoroughSearch/BoroughSearch.tsx
  frontend/src/CollectionForm/CollectionForm.tsx
  frontend/src/ImageUpload/ImageUpload.tsx
  frontend/src/TourForm/TourForm.tsx
  frontend/src/index.tsx
  frontend/src/multiAdd/MultiAdd.tsx
  frontend/src/multiAdd/MultiAddItem.tsx
  frontend/src/muralForm/MuralForm.tsx
Labels: bug, enhancement, frontend

#146 refactor artist and borough into a single
  frontend/src/ArtistBoroughSearch.tsx
  frontend/src/ArtistSearch/ArtistSearch.tsx
  frontend/src/BoroughSearch/BoroughSearch.tsx
  frontend/src/muralForm/MuralForm.tsx
Labels: frontend

#154 Revert "Feat/127 HTTPS server configuration"
  backend/.ebextensions/https-instance-securitygroup.config
  backend/package-lock.json
  backend/package.json
  backend/src/server.ts
Labels: backend, bug

#155 Remove eb file for the night
  backend/.ebextensions/https-instance-securitygroup.config
Labels: bug
